torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
torch-scatter==2.1.2
torch-geometric
spconv-cu117
tensorboard
tensorboardX
einops
scipy
plyfile
termcolor
sharedarray
yapf
addict
pyyaml
h5py
ninja
open3d
timm
chardet